.idea/
logs/
node_modules/
/dist
/build
*.Identifier
.run/

.DS_Store
*.log.*
*.map

wp-config.php
*.zip
*.rar
*.sql
.cache/
.well-known
/license.txt

/.htaccess
*.lock
*.tmp
*.bckp
*.backup
Thumbs.db
/bin
/out
.bash
.viminfo

.ssh/
.npm/
.bash_history
.mysql_history

/mapplic-admin
/mapplic