.newsboard {
	&__list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		@media (min-width: 668px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 801px) {
			gap: 30px;
		}

		@media (min-width: 1201px) {
			gap: 40px;
		}

		@media (min-width: 1441px) {
			gap: 50px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 15px;
		overflow: hidden;
		transition: all 0.3s linear;

		&:hover {
			box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
			-webkit-transform: translate3d(0, -2px, 0);
			transform: translate3d(0, -2px, 0);
		}
	}

	&__link {
		@media (min-width: 668px) {
			flex: 35%;
		}

		@media (min-width: 821px) {
			flex: 45%;
			flex-shrink: 0;
		}

		@media (min-width: 1101px) {
			flex: 50%;
		}
	}

	&__img {
		object-fit: cover;
	}

	&__text {
		display: flex;
		flex-direction: column;

		padding: 20px;
		background-color: #fff;
		transition: color 0.3s ease-in-out;

		line-height: 21px;

		@media (min-width: 668px) {
			line-height: 24px;
			flex: 65%;
		}

		@media (min-width: 821px) {
			flex: 55%;
		}

		@media (min-width: 921px) {
			padding: 35px 35px 30px 35px;
		}

		@media (min-width: 1101px) {
			flex: 50%;
			line-height: 27px;
		}
	}

	&__title {
		color: #333;
		@media (max-width: 500px) {
			font-size: 14px !important;
		}

		@media (min-width: 668px) {
			flex-grow: 2;
		}

		cursor: pointer;
		&:hover {
			color: #e30127;
			transition: color 0.3s ease-in-out;
		}

		@media (min-width: 1441px) {
			line-height: 36px;
		}
	}

	&__show-more {
		cursor: pointer;
		&:hover {
			color: #e30127;
			transition: color 0.3s ease-in-out;
		}
	}
}
